@import "css/media.css";
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

#header {
  background: #043873;
  height: 70px;
}
#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
#header .header img {
  width: 120px;
}
#header .header--lot button {
  width: 2px;
  height: 15px;
  background: #FFE492;
  border-radius: 9px;
  font-weight: 500;
  font-size: 10px;
}
#header .header button:hover {
  background: transparent;
  border: 2px solid #FFE492;
  color: #FFE492;
}
#header .header--lot {
  background: #043873;
  border: none;
  padding: 0 22px;
  font-size: 15px;
  color: #FFFFFF;
}
#header .header button {
  background: #FFE492;
  border-radius: 5px;
  font-weight: 500;
  font-size: 13px;
  border: none;
  padding: 10px 29px;
}

#hero, body {
  background: #043873;
}
#hero .hero, body .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero .hero--grand, body .hero--grand {
  margin: 150px 150px;
  padding: 0;
}
#hero .hero--grand h1, body .hero--grand h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 57px;
  color: #FFFFFF;
  padding: 20px 0;
}
#hero .hero--grand p, body .hero--grand p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  padding: 10px 0 10px;
}
#hero .hero--lait, body .hero--lait {
  margin: 90px;
  width: 594px;
  height: 309px;
  background: #C4DEFD;
}

#about {
  background: #E5E5E5;
}
#about .about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#about .about--services {
  margin: 10px 150px;
}
#about .about--services h1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 67px;
  letter-spacing: -0.02em;
  color: #212529;
}
#about .about--services p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #212529;
  padding: 20px 0 15px;
}
#about .about--services button {
  width: 150px;
  height: 40px;
  background: #4F9CF9;
  border-radius: 6px;
  border: #4F9CF9;
  color: #FFFFFF;
  margin: 15px 0;
}
#about .about button:hover {
  background: transparent;
  border: 2px solid red;
  color: red;
}
#about .about--circle {
  margin: 90px;
  width: 494px;
  height: 359px;
  background: #C4DEFD;
  border: 2px solid #4F9CF9;
}

#portal {
  background: #E5E5E5;
}
#portal .portal {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#portal .portal img {
  width: 400px;
  padding: 0 10px 50px;
}
#portal .portal--fit {
  width: 70px;
  height: 70px;
  left: 140px;
  top: 23px;
  background: #FFDC4D;
  border-radius: 40px;
}
#portal .portal--non {
  z-index: 200;
  width: 70px;
  height: 70px;
  left: 140px;
  top: 23px;
  background: red;
  border-radius: 40px;
}
#portal .portal--fon {
  width: 70px;
  height: 70px;
  left: 140px;
  top: 23px;
  background: lime;
  border-radius: 40px;
}
#portal .portal--kon {
  width: 70px;
  height: 70px;
  left: 140px;
  top: 23px;
  background: dodgerblue;
  border-radius: 40px;
}
#portal .portal--lit {
  width: 70px;
  height: 70px;
  left: 140px;
  top: 23px;
  background: #FFDC4D;
  border-radius: 40px;
}
#portal .portal--wek {
  width: 70px;
  height: 70px;
  left: 140px;
  top: 23px;
  background: fuchsia;
  border-radius: 40px;
}
#portal .portal--dot {
  width: 70px;
  height: 70px;
  left: 140px;
  top: 23px;
  background: #FFDC4D;
  border-radius: 40px;
}
#portal .portal--use {
  width: 70px;
  height: 70px;
  left: 140px;
  top: 23px;
  background: green;
  border-radius: 40px;
}
#portal .portal--aux {
  width: 70px;
  height: 70px;
  left: 140px;
  top: 23px;
  background: black;
  border-radius: 40px;
}
#portal .portal--kill h1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 87px;
  letter-spacing: -0.02em;
  color: #212529;
  padding: 15px 0;
}
#portal .portal--kill p {
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: -0.02em;
  color: #212529;
  padding: 0 0 25px;
}
#portal .portal--kill button {
  gap: 10px;
  width: 146px;
  height: 40px;
  background: #4F9CF9;
  border-radius: 6px;
  border: #4F9CF9;
  color: #FFFFFF;
  font-size: 17px;
  margin: 0 0 40px;
}
#portal .portal--kill button:hover {
  background: transparent;
  border: 2px solid red;
  color: red;
}

#title .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 120px;
}
#title .title h1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 87px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  padding: 10px 0 0;
}
#title .title p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  padding: 15px 0 15px;
}
#title .title button {
  gap: 10px;
  width: 151px;
  height: 43px;
  background: #4F9CF9;
  border-radius: 6px;
  font-size: 16px;
  border: #4F9CF9;
  color: #FFFFFF;
}
#title .title button:hover {
  background: transparent;
  border: 2px solid #FFDC4D;
  color: #FFDC4D;
}
#title .title--git {
  margin: 90px;
  width: 494px;
  height: 309px;
  background: #C4DEFD;
}

#week {
  background: #E5E5E5;
}
#week .week {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#week .week--super {
  margin: 90px;
  width: 494px;
  height: 369px;
  background: #C4DEFD;
}
#week .week--deck {
  padding: 0 180px;
}
#week .week--deck h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  letter-spacing: -0.02em;
  color: #212529;
}
#week .week--deck p {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #212529;
  padding: 15px 0;
}
#week .week--deck button {
  gap: 10px;
  width: 151px;
  height: 43px;
  background: #4F9CF9;
  border-radius: 6px;
  border: #4F9CF9;
  color: #FFFFFF;
  font-size: 16px;
}
#week .week--deck button:hover {
  background: transparent;
  border: 2px solid red;
  color: red;
}

#pizza {
  background: #E5E5E5;
}
#pizza .pizza h1 {
  font-weight: 700;
  font-size: 62px;
  line-height: 87px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #212529;
}
#pizza .pizza p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #212529;
}

#puzzle {
  background: #E5E5E5;
}
#puzzle .puzzle {
  display: flex;
  align-items: center;
  padding: 40px 190px;
  gap: 40px;
}
#puzzle .puzzle--box {
  padding: 40px 44px;
  gap: 25px;
  width: 493px;
  height: 384px;
  background: #FFFFFF;
  border: 1px solid #FFE492;
  border-radius: 3px;
}
#puzzle .puzzle span {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #212529;
}
#puzzle .puzzle h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #212529;
}
#puzzle .puzzle p {
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #212529;
}
#puzzle .puzzle a {
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: -0.02em;
  color: #212529;
  bottom: 40.93%;
}
#puzzle .puzzle button {
  width: 116px;
  height: 900px;
  background: #FFFFFF;
  border: 1px solid #FFE492;
  border-radius: 2px;
  font-size: 12px;
}
#puzzle .puzzle button:hover {
  background: transparent;
  border: 2px solid greenyellow;
  color: green;
}
#puzzle .puzzle--verb {
  padding: 80px 44px;
  gap: 25px;
  width: 493px;
  height: 380px;
  background: #043873;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}
#puzzle .puzzle span {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: black;
}
#puzzle .puzzle h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #FFE492;
}
#puzzle .puzzle p {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: black;
}
#puzzle .puzzle a {
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: black;
}
#puzzle .puzzle button {
  width: 116px;
  height: 35px;
  background: #4F9CF9;
  border-radius: 8px;
  border: #4F9CF9;
  font-size: 13px;
  color: #FFFFFF;
  margin: 15px 0;
}
#puzzle .puzzle button:hover {
  background: transparent;
  border: 2px solid greenyellow;
  color: lawngreen;
}
#puzzle .puzzle--money {
  padding: 40px 44px;
  gap: 25px;
  width: 493px;
  height: 384px;
  background: #FFFFFF;
  border: 1px solid #FFE492;
  border-radius: 3px;
}

#wood .wood h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 87px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  text-align: center;
  padding: 90px 0 0;
}
#wood .wood p {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  padding: 10px 0;
}
#wood .wood button {
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
  gap: 10px;
  isolation: isolate;
  width: 155px;
  height: 43px;
  background: #4F9CF9;
  border-radius: 8px;
  border: #4F9CF9;
  margin: 50px 580px;
}
#wood .wood button:hover {
  background: transparent;
  border: 2px solid greenyellow;
  color: lawngreen;
}

#ship {
  background: #E5E5E5;
}
#ship .ship {
  display: flex;
  align-items: center;
  padding: 90px 90px;
}
#ship .ship--moon img {
  width: 500px;
  padding: 0 120px;
}
#ship .ship--work h1 {
  font-weight: 700;
  font-size: 62px;
  line-height: 87px;
  letter-spacing: -0.02em;
  color: #212529;
}
#ship .ship--work p {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #212529;
  padding: 30px 0;
}
#ship .ship--work button {
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
  gap: 10px;
  width: 157px;
  height: 45px;
  background: #4F9CF9;
  border-radius: 8px;
  border: #4F9CF9;
}
#ship .ship--work button:hover {
  background: transparent;
  border: 2px solid red;
  color: red;
}
#ship .ship--work--moon img {
  width: 2000px;
}

#plane {
  background: #E5E5E5;
}
#plane .plane {
  padding: 40px 0;
}
#plane .plane h1 {
  font-weight: 700;
  font-size: 62px;
  line-height: 87px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #212529;
}

#rain {
  background: #E5E5E5;
}
#rain .rain {
  display: flex;
  gap: 120px;
  width: 20px;
  padding: 40px 80px;
}
#rain .rain img {
  width: 300px;
}

#ball .ball {
  display: flex;
  align-items: center;
  padding: 90px 50px;
}
#ball .ball img {
  width: 500px;
}
#ball .ball--sky {
  padding: 0 110px;
}
#ball .ball--sky h1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 77px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  padding: 10px 0;
}
#ball .ball--sky p {
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
#ball .ball--sky button {
  font-weight: 500;
  font-size: 17px;
  color: #FFFFFF;
  width: 164px;
  height: 47px;
  background: #4F9CF9;
  border-radius: 8px;
  border: #4F9CF9;
  margin: 20px 0;
}
#ball .ball--sky button:hover {
  background: transparent;
  border: 2px solid greenyellow;
  color: lawngreen;
}

#speed {
  background: #E5E5E5;
}
#speed .speed h1 {
  font-weight: 700;
  font-size: 55px;
  line-height: 84px;
  text-align: center;
  color: #212529;
  padding: 100px 0 0;
}
#speed .speed--robot {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 50px 80px;
}
#speed .speed--clock {
  width: 380px;
  height: 466px;
  background: #FFFFFF;
  box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
#speed .speed img {
  padding: 30px 20px;
  width: 80px;
}
#speed .speed p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #212529;
}
#speed .speed--btn {
  width: 380px;
  height: 466px;
  background: #4F9CF9;
  border-radius: 2px;
}
#speed .speed img {
  padding: 30px 20px;
}
#speed .speed p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
#speed .speed--path {
  width: 380px;
  height: 466px;
  background: #4F9CF9;
  border-radius: 2px;
}
#speed .speed img {
  padding: 30px 20px;
}
#speed .speed p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #212529;
  padding: 0 20px;
}
#speed .speed--port {
  display: flex;
  align-items: center;
  padding: 60px 0 0;
}
#speed .speed--united h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #212529;
}
#speed .speed--united span {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #212529;
}

#card .card--icon__one {
  padding-left: 0px;
}
#card .card--icon__one--ion {
  width: 50px;
  height: 46px;
  color: white;
  margin-left: 20px;
}
#card .card--group h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 77px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  padding: 120px 0 0 0;
}
#card .card--group p {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  padding: 40px 0;
}
#card .card--group button {
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
  width: 200px;
  height: 59px;
  background: #4F9CF9;
  border-radius: 10px;
  border: #4F9CF9;
  display: block;
  margin: 6px auto;
}
#card .card--group button:hover {
  background: transparent;
  border: 2px solid greenyellow;
  color: lawngreen;
}

#white {
  padding-top: 80px;
}
#white .white {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#white .white--img {
  padding-top: 38px;
}
#white .white--img p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #F7F7EE;
  width: 240px;
  margin: 20px 0;
}
#white .white--group {
  display: flex;
  flex-direction: column;
}
#white .white--group h1 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
#white .white--group a {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin: 10px 0;
}
#white .white--nav {
  display: flex;
  flex-direction: column;
}
#white .white--nav h1 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
#white .white--nav a {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin: 10px 0;
}
#white .white--link {
  display: flex;
  flex-direction: column;
}
#white .white--link h1 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
#white .white--link a {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin: 10px 0;
}
#white .white--about h1 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
#white .white--about p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  width: 259px;
  margin: 15px 0;
  line-height: 25px;
}
#white .white--about button {
  width: 160px;
  height: 40px;
  background: #4F9CF9;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  border: none;
}
#white .white--about button:hover {
  background: transparent;
  border: 2px solid greenyellow;
  color: lawngreen;
}

#tell .tell {
  display: flex;
  align-items: center;
  padding: 80px 55px 25px;
}
#tell .tell--git {
  background: #043873;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
}
#tell .tell--call {
  padding-left: 100px;
}
#tell .tell--call a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding: 0 40px;
}
#tell .tell--call--new {
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
